{
  # Set the CORS header for all requests
  # This is the definitive fix for your issue.
  header Access-Control-Allow-Origin "https://pet-book-client-nine.vercel.app"
}

*.up.railway.app {
    root * /app/public
    php_fastcgi unix//run/php-fpm/php-fpm.sock
    file_server
}
